.explorerFiles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.25rem;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.section {
  
}

.sectionHeader {
  font-size: 0.95rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--color-secondary);
  display: flex;
  gap: 1rem;
  align-items: center;
}

.folders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.files {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

@media (max-width: 500px) {
  .folders {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }
  
  .files {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }
}