.uploadQueue {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.queueTopPreview {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 100%;
}

.currentUpload {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.currentUploadInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.currentUploadInfoTop {
    display: flex;
    gap: 0.5rem;
}

.currentUploadInfoBottom {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
}

.queueTop {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.loading {
    height: 4px;
    border-radius: 4px;
    width: 100%;
    background-color: var(--color-primary-2);
}

.loadingInner {
    height: 4px;
    border-radius: 4px;
    width: 50%;
    background-color: var(--color-secondary);
}

.queueItem {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.queueItemPreview {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 100%;
}

.queueItemInfo {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    gap: 0.25rem;
}

.confirmUpload {
    display: flex;
    gap: 0.5rem;
}

.confirmUploadInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
}