.button {
  background-color: var(--color-active);
  color: var(--color-primary);
  border-radius: 6px;
  padding: 0.7rem 0.85rem;
  border: none;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
}

.button:not(:disabled):hover {
  background-color: var(--color-active-2);
}

.button:disabled {
  opacity: 0.6;
}