.button {
  background-color: var(--color-active);
  color: var(--color-secondary);
  border-radius: 4px;
  padding: 0.7rem 1.25rem;
  border: none;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
  transition: background-color 400ms ease-in-out;
}

.button:not(:disabled):hover {
  background-color: var(--color-active-2);
}

.button:disabled {
  opacity: 0.6;
}