.hierarchy {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  overflow: auto;
}

.item {
  display: flex;
  align-items: center;
  height: 1.5rem;
  font-size: 0.8rem;
}

.item:hover {
  background-color: var(--color-active-low);
  cursor: pointer;
}

.itemHead {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.itemName {
  width: 80%;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrowHead {
  display: inline-flex;
  align-items: center;
  padding: 0 0.2rem;
}

.arrowHead svg {
  width: 1rem;
  height: 1rem;
  fill: var(--color-secondary);
  transform: translateY(1px);
}

.children {
  overflow: hidden;
}