.ancestors {
    display: flex;
    align-items: center;
}

.ancestorItem {
    display: flex;
    align-items: center;
}

.ancestor {
    cursor: pointer;
    border-radius: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 400ms ease-in-out;
}

.ancestor:hover {
    background-color: var(--color-primary-2);
}

.dragStart {
    background-color: var(--color-primary-2);
    outline: 1px solid var(--color-active);
}