.ancestors {
    display: flex;
    align-items: center;
}

.ancestorItem {
    display: flex;
    align-items: center;
}

.ancestor {
    cursor: pointer;
    border-radius: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ancestor:hover {
    background-color: var(--color-primary-2);
}