.modeButton {
  display: grid;
  float: right;
  width: 5vw;
  height: 5vh;
}

.dark {
  background-color: var(--color-primary);
  color: var(--color-secondary)
}

.light {
  background-color: var(--color-secondary);
}