.explorer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section {
  margin-bottom: 2.5rem;
}

.sectionTitle {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--color-secondary);
}

.folders {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 1rem;
}

.files {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 1rem;
}
