.topbar {
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
    box-shadow: 1px 0 var(--shadow-blur) 0 var(--color-shadow);
}

.topbar > *:nth-child(2) {
    margin-left: auto;
}

@media (max-width: 820px) {
    .topbar {
        padding-right: 0.5rem;
        padding-left: 0.25rem;
    }

    .topbar > *:nth-child(2) {
        margin-right: 0;
    }
}