.popUp {
	display: flex;
	flex-direction: row;
	font-size: 0.8rem;
	cursor: pointer;
	position: absolute;
	top: 25px;
	padding-top: 20px;
  	padding-bottom: 23px;
	padding-left: 25px;
	padding-right: 35px;
	background-color: var(--color-error);
  	border-radius: 4px;
	z-index: 5;
	max-width: 95vw;
}

.popUpParent {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.oops {
	font-size: 0.95rem;
	font-weight: 500;
	color: var(--color-secondary);
}

.text {
	color: var(--color-secondary-2);
	font-size: 0.8rem;
}

.close {
	position: absolute;
	top: 2px;
	right: 2px;
	transform: scale(0.9);
}

.progress {
	position: absolute;
	left: 0;
	bottom: 0.4rem;
	height: 3px;
	width: 90%;
	left: 5%;
}

.progressInner {
	background-color: var(--color-secondary);
	height: 100%;
	border-radius: 10px;
}