.file {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-bottom: 1rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
  height: 100%;
}

.filePreview {
  flex-grow: 1;
  object-fit: contain;
  width: 100%;
  height: calc(100% - 3rem);
}

.folder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  gap: 0.6rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
}

.folder svg {
  width: 1rem;
  transform: translateY(-1px);
  stroke: var(--color-secondary);
  fill: var(--color-secondary);
}

.folder span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  background-color: var(--color-selected);
}