.file {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-2);
  cursor: pointer;
  padding: 0.25rem;
  padding-bottom: 0.75rem;
  border-radius: 6px;
}

.folder {
  padding: 1rem;
  background-color: var(--color-primary-2);
  border-radius: 6px;
}

.file:not(.selected):hover {
  background-color: var(--color-primary-3);
}

.folder:not(.selected):hover {
  background-color: var(--color-primary-3);
}

.selected {
  background-color: var(--color-selected);
}