.file {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-2);
  padding: 0.15rem;
  padding-bottom: 0.65rem;
  border-radius: 2px;
  transition: background-color 400ms ease-in-out;
  box-shadow: 0 0 var(--shadow-blur-2) 0 var(--color-shadow);
}

.folder {
  position: relative;
  padding: 1rem;
  background-color: var(--color-primary-2);
  border-radius: 2px;
  transition: background-color 400ms ease-in-out;
  box-shadow: 0 0 var(--shadow-blur-2) 0 var(--color-shadow);
}

.file:not(.selected):hover {
  background-color: var(--color-primary-3);
}

.folder:not(.selected):hover {
  background-color: var(--color-primary-3);
}

.selected {
  background-color: var(--color-selected);
}

.dragEnter {
  background-color: var(--color-primary-3);
  outline: 1px solid var(--color-active);
}

.dragEnter * {
  pointer-events: none;
}