.search {
    position: relative;
    flex-grow: 1;
    max-width: 500px;
}

.searchInner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.25rem 0.5rem;
    background-color: var(--color-primary);
}

.searchInnerCollapse {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: solid 1px var(--color-primary-3);
}

.searchInner input {
    border: none;
    outline: none;
    background: none;
    color: var(--color-secondary);
    flex-grow: 1;
    padding: 0.5rem 0;
}

.searchInner input::placeholder {
    color: var(--color-secondary);
    opacity: 0.6;
    transition: opacity 200ms ease-in-out;
}

.searchInner input:focus::placeholder {
    opacity: 1;
}

.list {
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    cursor: pointer;
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 5;
}  

.listItem {
    background-color: var(--color-primary);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.listItem:hover {
    background-color: var(--color-primary-2);
}