.loading {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    gap: 2rem;
}

.loadingText {
    color: var(--color-primary);
    font-size: 0.9rem;
}