.explorer {
  height: calc(100vh - 70px - 25px);
  margin-right: 35px;
  margin-bottom: 25px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 var(--shadow-blur) 0 var(--color-shadow);
}

.explorer > *:nth-child(1) {
  height: 50px;
}

.dragEnter {
  outline: 2px solid var(--color-active);
}

@media (max-width: 820px) {
  .explorer {
    height: calc(100vh - 110px);
    margin-right: 0;
  }  
}