.fileHeader {
    position: relative;
}

.menuIcon {
    position: absolute;
    top: 0.9rem;
    right: 0.65rem;
    border-radius: 100%;
    width: 1.55rem;
    height: 1.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: background-color 400ms ease-in-out;
}

.menuIcon:hover {
    background-color: var(--color-primary-transparent);
    cursor: pointer;
}

.fileBottom {
    display: flex;
    align-items: center;
    padding: 0.35rem;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
}

.fileBottom > *:nth-child(1) {
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileDetails {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.7rem;
    flex-grow: 1;
    max-width: calc(100% - 2.15rem);
    padding-left: 0.3rem;
}

.fileDetailsBottom {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 0.7rem;
}

.fileDetailsBottom * {
    color: var(--color-secondary-6);
}

.fileDetailsBottom > *:nth-child(1) {
    display: flex;
    gap: 0.2rem;
}

.fileDetailsBottom > *:nth-child(2) {
    margin-left: auto;
    margin-right: 0.2rem;
}

.fileName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    font-size: 0.8rem;
}

.previewContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.5rem;
}

.preview {
    width: 100%;
    aspect-ratio: 1 / 1.1;
    border-radius: 3px;
    object-fit: cover;
    pointer-events: none;
}

.spinner {
    position: absolute;
}

.spinner2 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 5;
}

@media (max-width: 550px) {
    .fileName {
        font-size: 0.65rem
    }

    .fileDetailsBottom {
        font-size: 0.55rem;
    }    

    .fileIcon {
        transform: scale(0.7);
    }

    .fileBottom > *:nth-child(1) {
        min-width: 1.75rem;
    }
    
    .fileDetails {
        max-width: calc(100% - 1.9rem);
        padding-left: 0;
        gap: 0.1rem;
    }

    .fileDetailsBottom > *:nth-child(1) {
        gap: 0.15rem;
    }
}