.iconButton {
  width: 1.7rem;
  height: 1.7rem;
  border: none;
	cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: background-color 400ms ease-in-out;
}

.iconButton:not(:disabled):hover {
  background-color: var(--color-primary-transparent);
}

.iconButton:disabled {
  opacity: 0.4;
}