@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-background: #100f15;
  --color-primary: #100f15;
  --color-primary-2: #14131a;
  --color-primary-3: #18161d;
  --color-primary-4: #222127;
  --color-primary-5: #27262d;
  --color-secondary: #e8e8e8;
  --color-secondary-2: #e0e0e0;
  --color-secondary-3: #d8d8d8;
  --color-secondary-4: #d0d0d0;
  --color-secondary-5: #c8c8c8;
  --color-secondary-6: #b1b1b1;
  --color-secondary-7: #ec5656;
  --color-selected: #1b1928;
  --color-active: #5c3bef;
  --color-active-2: #6748f3;
  --color-inner: #f0f0f0;
  --color-hover: #e0e0e0;
  --color-shadow: #424048;
  --color-primary-transparent: #0e0d1355;
  --shadow-blur: 1px;
  --shadow-blur-2: 0px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: var(--color-secondary);
}

*::-webkit-scrollbar {
  background-color: var(--color-primary-2);
  width: 9px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-4);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-5);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-active);
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: var(--color-background);
}

@media (max-width: 550px) {
  *::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }
}