@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --color-background: #ffffff;
  --color-primary: #ffffff;
  --color-primary-darker: #f0f0f0;
  --color-secondary: #000000;
  --color-selected: #f0f0ff;
  --color-active: #f0f0ff;
  --color-hover: #e0e0e0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  color: var(--color-secondary);
}

*::-webkit-scrollbar {
  background-color: var(--color-primary);
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-active);
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: var(--color-background);
}

body {
  background-color: var(--color-background);
}

a {
  text-decoration: none;
}
